<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mygroup5people.jxnufake.mapper.CourseMapper">

    <sql id="courseColumns">
        id, name, number, teacher_name, create_time, update_time
    </sql>

    <select id="list" resultType="com.mygroup5people.jxnufake.pojo.Course">
        select
        <include refid="courseColumns"/>
        from jxnu.course
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="teacherName != null and teacherName != ''">
                and teacher_name like concat('%', #{teacherName}, '%')
            </if>
            <if test="number != null">
                and number = #{number}
            </if>
        </where>
        order by id
    </select>

    <select id="selectById" resultType="com.mygroup5people.jxnufake.pojo.Course">
        select
        <include refid="courseColumns"/>
        from jxnu.course
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.mygroup5people.jxnufake.pojo.Course"
            useGeneratedKeys="true" keyProperty="id">
        insert into jxnu.course (name, number, teacher_name, create_time, update_time)
        values (#{name}, #{number}, #{teacherName}, #{createTime}, #{updateTime})
    </insert>

    <update id="update" parameterType="com.mygroup5people.jxnufake.pojo.Course">
        update jxnu.course
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="number != null">
                number = #{number},
            </if>
            <if test="teacherName != null and teacherName != ''">
                teacher_name = #{teacherName},
            </if>
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from jxnu.course
        where id = #{id}
    </delete>

</mapper>